<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Weekend Planner</title>
    <link rel="icon" href="https://cdn0.iconfinder.com/data/icons/time-organizing/512/xxx032-512.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/index.js"></script>
  </head>
  <body>

  	<h1>Weekend Planner</h1>

  	<p>Where are you going? <input type="text" id="trip_dest"></p>
  	<p>From: <input type="date" id="trip_from"></p>
  	<p>To: <input type="date" id="trip_to"></p>

  	<br>
  	<p id=share></p>
  	<br>

  	<button id="btn_trip">Plan my weekend!</button>


  </body>
</html>
