<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Weekend Planner</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/schedule.js"></script>
  </head>
  <body>
    <h2>Weekend Planner</h2>
    <div id="manual_add">
      <h3>Manual Entry</h3>
      <div> 
        <p>What: <input type="text" id="activity"></p>
        <p>When: <input type="datetime-local" id="time"></p>
        <p>Where: <input type="text" id="location"></p>
        <button id="manual_add_btn">Add Event!</button>
      </div>
    </div>
    <div id="suggestions_add">
      <h3>Suggestions</h3>
      <p id="trip_info"></p>
      <p>Coming Soon</p>
    </div>
    <div id="display">
      <h3>Your Weekend</h3>
      <div id='the_list'></div>
    </div>
    <div id="chat">
      <h3>Group Chat</h3>
      <p>Coming Soon</p>
    </div>


  </body>
</html>
