<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Weekend Planner</title>
    <link rel="icon" href="https://cdn0.iconfinder.com/data/icons/time-organizing/512/xxx032-512.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/plan.js"></script>
    <script src="/datefunctions.js"></script>
    <link rel="stylesheet" href="/plan.css" type="text/css">
  </head>
  <body>
    <h1>Weekend Planner</h1>
    <h4 style="text-align:center" id="trip_info"></h4>
    <div class="row">
      <div id="column2"> 
        <div id="manual_add">
          <h3>Add Event</h3>
          <div> 
            <p>What: <input type="text" id="activity"></p>
            <p>When: <input type="datetime-local" id="time"></p>
            <p>Where: <input type="text" id="location"></p>
            <button id="manual_add_btn">Add!</button>
          </div>
        </div>
        <div id="suggestions_add">
          <h3>Event Suggestions</h3>
          <p><i>Coming Soon</i></p>
        </div>
        <div id="chat">
          <h3>Group Chat</h3>
          <p>Name: <input id="username"></input></p>
          <div id="chat_area"></div>
          <input type="text" id="chat_input" style="width:78%; margin-top:4px"> <button id="send_btn">Send</button></input>
        </div>
      </div>
      <div id="column1">
        <div id="display">
          <h2>Your Weekend</h2>
          <div id='the_list'></div>
        </div>
      </div>
    </div>
  </body>
</html>
